*.so
*.o
/targetver.h
/ReadMe.txt
/sfqc.cpp
/sfqc.vcxproj
/sfqc.vcxproj.filters
/stdafx.cpp
/stdafx.h
/Release
/Debug
/sfqc-clear
/sfqc-info
/sfqc-init
/sfqc-list
/sfqc-pop
/sfqc-pushb
/sfqc-pushc
/sfqc-shift
/sfqc-sets
*.out
/?.c
/?.php
