/*.sh
/*.so
/*.o
/*.out
/*.err
/targetver.h
/ReadMe.txt
/sfqc.cpp
/sfqc.vcxproj
/sfqc.vcxproj.filters
/stdafx.cpp
/stdafx.h
/Release
/Debug
/sfqc-clear
/sfqc-info
/sfqc-init
/sfqc-list
/sfqc-pop
/sfqc-pushb
/sfqc-pusht
/sfqc-shift
/sfqc-sets
/sfqc-pushx
/sfqc-popx
/sfqc-shiftx
/sfqc-disable
/sfqc-reset-procs
/?.c
/?.php
/vchk
/schk
